.select2-container .select2-selection--multiple {
    height: 45px !important;
  }
  .contenedor{
    border-left: 3px solid rgb(94, 157, 69);
    border-radius: 5px ;
    padding: 18px 20px;
    background-color: rgba(130, 173, 130, 0.1);
    box-shadow: 1px 3px 3px rgba(0,0,0,.1);
  }
  .filtro{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px;
  }

  .contenedor span{
    position: absolute;
    top: 80px;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgba(228, 228, 228, 1);
    box-shadow: 1px 3px 3px rgba(0,0,0,.1);
  }

  details{
    display: flex;
    gap: 0.3em;
    flex-direction: column;
  }
  .img-button{
    filter: invert() hue-rotate(20deg) saturate(1000%);
    width: 20px;
  }
  .contenedor-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contenedor-header marquee{
    width: 500px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  .contenedor-header img{
    width: 35px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  }

  
  ::ng-deep .tabla-alertas th:nth-child(1), .tabla-alertas td:nth-child(1) { width: 2%; } 
  ::ng-deep .tabla-alertas th:nth-child(2), .tabla-alertas td:nth-child(2) { width: 2%; } 
  ::ng-deep .tabla-alertas th:nth-child(3), .tabla-alertas td:nth-child(3) { width: 10%; } 
  ::ng-deep .tabla-alertas th:nth-child(4), .tabla-alertas td:nth-child(4) { width: 11%; } 
  ::ng-deep .tabla-alertas th:nth-child(5), .tabla-alertas td:nth-child(5) { width: 7%; } 
  ::ng-deep .tabla-alertas th:nth-child(6), .tabla-alertas td:nth-child(6) { width: 7%; } 
  ::ng-deep .tabla-alertas th:nth-child(7), .tabla-alertas td:nth-child(7) { width: 10%; } 
  ::ng-deep .tabla-alertas th:nth-child(8), .tabla-alertas td:nth-child(8) { width: 20%; }
  ::ng-deep .tabla-alertas th:nth-child(8), .tabla-alertas td:nth-child(9) { width: 10%; }
  ::ng-deep .tabla-alertas th:nth-child(8), .tabla-alertas td:nth-child(10) { width: 10%; }
  ::ng-deep .tabla-alertas th:nth-child(8), .tabla-alertas td:nth-child(11) { width: 8%; }

  .table tbody tr {
    height: 15px; /* Ajusta según necesites */
  }
  
  .table td, .table th {
    padding: 4px 8px !important; /* Reduce el espacio interno */
    line-height: 1 !important; /* Disminuye el espaciado del texto */
  }
