<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Inicio / </span> Validar Cuestionarios
</h4>

<!--  <div class="row">
  <div class="card">
    <div class="card-header">
      <h2>Validación</h2>
       <div class=" btn-migrar-contenedor">
        <div  class=" btn-migrar">
          <button style="width: 21%;
          position: absolute;
          right: 29px;
          top: -20px;
          z-index: 11;" class="btn btn-primary" (click)="migrarDatos()" pTooltip="Migrar Datos de Cuestionarios"
            tooltipPosition="top">
            <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;&nbsp;Migrar datos
          </button>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="card-body">
      <div class="contenedor">
        <span> <i class="fa-solid fa-magnifying-glass"></i> Buscar </span>
        <div class="filtro">
          <div class="form-check form-check-info">
            <input name="customRadioInfo" class="form-check-input" type="radio" value="depto" id="depto"
              (change)="radioValue($event)" checked="">
            <label class="form-check-label" for="customRadioInfo"> Departamento </label>
          </div>
          <div class="form-check form-check-info">
            <input name="customRadioInfo" class="form-check-input" type="radio" value="mpio" id="mpio"
              (change)="radioValue($event)">
            <label class="form-check-label" for="customRadioInfo"> Municipio </label>
          </div>
          <div class="form-check form-check-info">
            <input name="customRadioInfo" class="form-check-input" type="radio" value="ag" id="ag"
              (change)="radioValue($event)">
            <label class="form-check-label" for="customRadioInfo"> Area Agropecuaria </label>
          </div>
          <div class="form-check form-check-info">
            <input name="customRadioInfo" class="form-check-input" type="radio" value="ae" id="ae"
              (change)="radioValue($event)">
            <label class="form-check-label" for="customRadioInfo"> Area Enumerada </label>
          </div>
        </div>


        <details id="details">
          <summary> Buscar por: </summary>
          <div class="row" style="padding: 15px 10px; display: flex; flex-wrap: wrap;gap: 0.3em">
            <div class="col-md-3">
              <div class="form-floating form-floating-outline">
                <select class="form-select" id="deptoSel" [(ngModel)]="deptoModel" (change)="getMpio()"
                  aria-label="Floating label select example">
                  <option value="" selected disabled>== Departamento ==</option>
                  <option value="01">Chuquisaca</option>
                  <option value="02">La Paz</option>
                  <option value="03">Cochabamba</option>
                  <option value="04">Oruro</option>
                  <option value="05">Potosi</option>
                  <option value="06">Tarija</option>
                  <option value="07">Santa Cruz</option>
                  <option value="08">Beni</option>
                  <option value="09">Pando</option>
                </select>
                <label for="floatingSelect">Departamento</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating form-floating-outline" *ngIf="visibleMpio">
                <select class="form-select" id="mpioSel" [(ngModel)]="mpioModel" (change)="getAg()"
                  aria-label="Floating label select example">
                  <option value="" selected disabled>== Municipio ==</option>
                  <option *ngFor="let a of mpioResult" value="{{a.cod_municipio}}">{{a.mpio}}</option>
                </select>
                <label for="floatingSelect">Municipio</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating form-floating-outline" *ngIf="visibleAg">
                <select class="form-select" id="agSel" [(ngModel)]="agModel" (change)="getAe()"
                  aria-label="Floating label select example">
                  <option value="" selected disabled>== Área Agropecuaria ==</option>
                  <option *ngFor="let a of agResult" value="{{a.ag_unico}}">{{a.ag_unico}}</option>
                </select>
                <label for="floatingSelect">Área Agropecuaria</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-floating form-floating-outline" *ngIf="visibleAe">
                <select class="form-select" id="aeSel" [(ngModel)]="aeModel" (change)="getEmp()"
                  aria-label="Floating label select example">
                  <option value="" selected disabled>== Área Enumerada ==</option>
                  <option *ngFor="let a of aeResult" value="{{a.ae_unico}}">{{a.ae_unico}}</option>
                </select>
                <label for="floatingSelect">Área Enumerada</label>
              </div>
            </div>
            <hr>
            <div class="col-md-4">
              <div class="form-floating form-floating-outline">
                <select class="form-select" id="empSel" [(ngModel)]="empModel"
                  aria-label="Floating label select example">
                  <option value="" selected disabled>== Empadronador ==</option>
                  <option *ngFor="let a of empResult" value="{{a.cod_empadronador}}">{{a.empadronador}}</option>
                </select>
                <label for="floatingSelect">Empadronador</label>
              </div>
            </div>
            <hr>
            <div class="col-sm-2">
              <div class="btn btn-primary" (click)="searchValidador()">
                <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp; BUSCAR
              </div>
            </div>
            <div class="col-sm-2">
              <div class="btn btn-info" (click)="limiarDatos()">
                <i class="fa fa-solid fa-broom"></i>&nbsp;&nbsp; LIMPIAR
              </div>
            </div>
          </div>
        </details>

      </div>
    </div>
  </div>
</div> -->

<!-- divisiones -->
<br>
<div class="btn btn-primary" (click)="searchValidador()">
  <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp; VER BANDEJA
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <h3>Resultado de asignación</h3>
    </div>
<div class="card-body">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover" style="width: 100%;"
          *ngIf="listaSearch.length  > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>Departamento</th>
              <th>Municipio</th>
              <th>Área Agropecuaria</th>
              <th>Área Enumerada</th>
              <th>Empadronador</th>
              <th>Tipo Cuest.</th>
              <th>Cod. Cuest</th>
              <th>Estado</th>
              <th>Observación</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of listaSearch">
              <td>{{a.nro}}</td>
              <td>{{a.depto}}</td>
              <td>{{a.mpio}}</td>
              <td>{{a.ag_unico}}</td>
              <td>{{a.ae_unico}}</td>
              <td>{{a.empadronador}}</td>
              <td>{{a.cue_titulo}}</td>
              <td>{{a.cod_cuest}}</td>
              <td>
                <span class="badge bg-label-primary" style="width: 100%;" *ngIf="a.id_estado == '8'">{{a.estado}}</span>
                <span class="badge bg-label-danger" style="width: 100%;" *ngIf="a.id_estado == '4'">{{a.estado}}</span>
                <span class="badge bg-label-secondary" *ngIf="a.id_estado == null">SIN PROCESAR</span>

              </td>
              <td>{{a.observacion}}</td>
              <td>
                <button class="btn btn-icon btn-label-success" (click)="verCuest(a.rep_id)"
                  pTooltip="Ver Cuestionario" tooltipPosition="left">
                  <i class="fa-regular fa-eye"></i>
                </button>

              <!--  <button class="btn btn-icon btn-label-success" (click)="validarCuest(a.rep_id)"
                  pTooltip="Validar Cuestionario" tooltipPosition="left">
                  <i class="fa-solid fa-list-check"></i>
                </button>
                <button class="btn btn-icon btn-label-danger" (click)="observarCuest(a.rep_id)"
                  pTooltip="Observar Cuestionario" tooltipPosition="right">
                  <i class="fa-solid fa-clipboard-question"></i>
                </button>
                -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Ver Cuestionario" [(visible)]="visibleValidar" [modal]="true" [maximizable]="true"
  [style]="{'width': '700px'}">
  <hr>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3>Resultado de asignación</h3>
      </div>
  <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table table-bordered table-hover" style="width: 100%;"
            *ngIf="listaSearch.length  > 0">
            <thead>
              <tr>
                <th>#</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Área Agropecuaria</th>
                <th>Área Enumerada</th>
                <th>Empadronador</th>
                <th>Tipo Cuest.</th>
                <th>Cod. Cuest</th>
                <th>Estado</th>
                <th>Observación</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of listaSearch">
                <td>{{a.nro}}</td>
                <td>{{a.depto}}</td>
                <td>{{a.mpio}}</td>
                <td>{{a.ag_unico}}</td>
                <td>{{a.ae_unico}}</td>
                <td>{{a.empadronador}}</td>
                <td>{{a.cue_titulo}}</td>
                <td>{{a.cod_cuest}}</td>
                <td>
                  <span class="badge bg-label-primary" style="width: 100%;" *ngIf="a.id_estado == '8'">{{a.estado}}</span>
                  <span class="badge bg-label-danger" style="width: 100%;" *ngIf="a.id_estado == '4'">{{a.estado}}</span>
                  <span class="badge bg-label-secondary" *ngIf="a.id_estado == null">SIN PROCESAR</span>

                </td>
                <td>{{a.observacion}}</td>
                <td>
                  <button class="btn btn-icon btn-label-success" (click)="verCuest(a.rep_id)"
                    pTooltip="Ver Cuestionario" tooltipPosition="left">
                    <i class="fa-regular fa-eye"></i>
                  </button>

                <!--  <button class="btn btn-icon btn-label-success" (click)="validarCuest(a.rep_id)"
                    pTooltip="Validar Cuestionario" tooltipPosition="left">
                    <i class="fa-solid fa-list-check"></i>
                  </button>
                  <button class="btn btn-icon btn-label-danger" (click)="observarCuest(a.rep_id)"
                    pTooltip="Observar Cuestionario" tooltipPosition="right">
                    <i class="fa-solid fa-clipboard-question"></i>
                  </button>
                  -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="form-floating form-floating-outline mb-4">
    <textarea class="form-control h-px-100" [(ngModel)]="textValidar" id="detalleVerificacion" placeholder="Comentar Aqui..."></textarea>
    <label for="detalleVerificacion">Detalle de Verificación</label>
  </div>
  <br>
  <hr>
  <br>
  <button class="btn btn-success" (click)="almacenarValidacion('val')"><i class="fa-regular fa-floppy-disk" ></i>&nbsp;&nbsp;Validar</button>
  <button class="btn btn-success" (click)="almacenarValidacion('val')"><i class="fa-regular fa-floppy-disk" ></i>&nbsp;&nbsp;Validar</button>
  <button class="btn btn-success" (click)="almacenarValidacion('val')"><i class="fa-regular fa-floppy-disk" ></i>&nbsp;&nbsp;Validar</button>
</p-dialog>


<p-dialog header="Validar Cuestionario" [(visible)]="visibleValidar" [modal]="true" [maximizable]="true"
  [style]="{'width': '700px'}">
  <hr>
  <div class="form-floating form-floating-outline mb-4">
    <textarea class="form-control h-px-100" [(ngModel)]="textValidar" id="detalleVerificacion" placeholder="Comentar Aqui..."></textarea>
    <label for="detalleVerificacion">Detalle de Verificación</label>
  </div>
  <br>
  <hr>
  <br>
  <button class="btn btn-success" (click)="almacenarValidacion('val')"><i class="fa-regular fa-floppy-disk" ></i>&nbsp;&nbsp;Validar</button>
</p-dialog>


<p-dialog header="Observar Cuestionario" [(visible)]="visibleObservar" [(ngModel)]="textObservar" [modal]="true" [maximizable]="true"
  [style]="{'width':  '700px'}">
  <div class="form-floating form-floating-outline mb-4">
    <textarea class="form-control h-px-100" id="observacionCuest" placeholder="Comentar aqui ... "></textarea>
    <label for="observacionCuest">Observación</label>
  </div>

  <hr>

  <button class="btn btn-danger" (click)="almacenarValidacion('obs')"><i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp; Almacenar</button>
</p-dialog>

<!-- MODAL LOADING -->
<div class="contenedor-modal" *ngIf="modal_cargando ? true : false">
  <span class="cargando"></span>
  <span> Espere por favor </span><br />
  <span class="loader"></span>
</div>
