.contenedor{
  border-left: 3px solid rgb(94, 157, 69);
  border-radius: 5px ;
  padding: 18px 20px;
  background-color: rgba(130, 173, 130, 0.1);
  box-shadow: 1px 3px 3px rgba(0,0,0,.1);
}
.filtro{
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  width: 100%;
  /* border: 1px solid red; */
  padding: 10px;
}

.contenedor span{
  position: absolute;
  top: 138px;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid rgba(228, 228, 228, 1);
  box-shadow: 1px 3px 3px rgba(0,0,0,.1);
}

details{
  display: flex;
  gap: 0.3em;
  flex-direction: column;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.contenedor-modal{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100000000;
  left: 0;
  right: 0;
  color: #fff;
  font-size:25px;
  flex-direction: column;
}
.cargando {
--w:10ch;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
line-height: 1.2em;
letter-spacing: var(--w);
width: var(--w);
overflow: hidden;
white-space: nowrap;
color: #fff;
animation: l17 2s infinite;
}
.cargando:before {
content:"Cargando...";
}
@keyframes l17 {
  0% {text-shadow:
       calc( 0*var(--w)) -1.2em #fff,calc(-1*var(--w)) -1.2em #fff,calc(-2*var(--w)) -1.2em #fff,calc(-3*var(--w)) -1.2em #fff,calc(-4*var(--w)) -1.2em #fff,
       calc(-5*var(--w)) -1.2em #fff,calc(-6*var(--w)) -1.2em #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
  4% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) -1.2em #fff,calc(-2*var(--w)) -1.2em #fff,calc(-3*var(--w)) -1.2em #fff,calc(-4*var(--w)) -1.2em #fff,
       calc(-5*var(--w)) -1.2em #fff,calc(-6*var(--w)) -1.2em #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
  8% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) -1.2em #fff,calc(-3*var(--w)) -1.2em #fff,calc(-4*var(--w)) -1.2em #fff,
       calc(-5*var(--w)) -1.2em #fff,calc(-6*var(--w)) -1.2em #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
 12% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) -1.2em #fff,calc(-4*var(--w)) -1.2em #fff,
       calc(-5*var(--w)) -1.2em #fff,calc(-6*var(--w)) -1.2em #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
 16% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) -1.2em #fff,
       calc(-5*var(--w)) -1.2em #fff,calc(-6*var(--w)) -1.2em #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
 20% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) -1.2em #fff,calc(-6*var(--w)) -1.2em #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
 24% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) -1.2em #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
 28% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 0      #fff,calc(-7*var(--w)) -1.2em #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
 32% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 0      #fff,calc(-7*var(--w)) 0      #fff,calc(-8*var(--w)) -1.2em #fff,calc(-9*var(--w)) -1.2em #fff}
 36% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 0      #fff,calc(-7*var(--w)) 0      #fff,calc(-8*var(--w)) 0      #fff,calc(-9*var(--w)) -1.2em #fff}
 40%,
 60% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 0      #fff,calc(-7*var(--w)) 0      #fff,calc(-8*var(--w)) 0      #fff,calc(-9*var(--w)) 0      #fff}
 64% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 0      #fff,calc(-7*var(--w)) 0      #fff,calc(-8*var(--w)) 0      #fff,calc(-9*var(--w)) 1.2em  #fff}
 68% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 0      #fff,calc(-7*var(--w)) 0      #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 72% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 0      #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 76% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 0      #fff,calc(-6*var(--w)) 1.2em  #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 80% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 0      #fff,
       calc(-5*var(--w)) 1.2em  #fff,calc(-6*var(--w)) 1.2em  #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 84% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 0      #fff,calc(-4*var(--w)) 1.2em  #fff,
       calc(-5*var(--w)) 1.2em  #fff,calc(-6*var(--w)) 1.2em  #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 88% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 0      #fff,calc(-3*var(--w)) 1.2em  #fff,calc(-4*var(--w)) 1.2em  #fff,
       calc(-5*var(--w)) 1.2em  #fff,calc(-6*var(--w)) 1.2em  #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 92% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 0      #fff,calc(-2*var(--w)) 1.2em  #fff,calc(-3*var(--w)) 1.2em  #fff,calc(-4*var(--w)) 1.2em  #fff,
       calc(-5*var(--w)) 1.2em  #fff,calc(-6*var(--w)) 1.2em  #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 96% {text-shadow:
       calc( 0*var(--w)) 0      #fff,calc(-1*var(--w)) 1.2em  #fff,calc(-2*var(--w)) 1.2em  #fff,calc(-3*var(--w)) 1.2em  #fff,calc(-4*var(--w)) 1.2em  #fff,
       calc(-5*var(--w)) 1.2em  #fff,calc(-6*var(--w)) 1.2em  #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #fff,calc(-9*var(--w)) 1.2em  #fff}
 100% {text-shadow:
       calc( 0*var(--w)) 1.2em  #fff,calc(-1*var(--w)) 1.2em  #fff,calc(-2*var(--w)) 1.2em  #fff,calc(-3*var(--w)) 1.2em  #fff,calc(-4*var(--w)) 1.2em  #fff,
       calc(-5*var(--w)) 1.2em  #fff,calc(-6*var(--w)) 1.2em  #fff,calc(-7*var(--w)) 1.2em  #fff,calc(-8*var(--w)) 1.2em  #000,calc(-9*var(--w)) 1.2em  #000}
}

.btn-migrar-contenedor{
  position: relative;
}
.btn-migrar::before, .btn-migrar::after {
  content:"";
  position: absolute;
  /* top: 4vw;
  left: 64.6vw; */
  top: 24.5%;
  left: 87.4%;
  transform:translate(-50%, -50%);
  /* width: 70px;
  height: 70px; */
  border: 6px solid #5e9d45;;
  border-radius: 10px;
  animation: latido linear 2s infinite;
}

.btn-migrar::after {
  animation-delay: 1s;
}

@keyframes latido {
  0% { width:280px; height:34px; border:6px solid #5e9d45;; border-radius:10px; z-index:10 }
  100% { width:320px; height:67px; border:6px solid transparent;  border-radius:10px;z-index:10}
}

@media screen and (max-width: 939px) {
  .btn-migrar::before,
  .btn-migrar::after {
    display: none;
  }
}

::ng-deep .tabla-alertas th:nth-child(1), .tabla-alertas td:nth-child(1) { width: 3%; }   /* NRO */
::ng-deep .tabla-alertas th:nth-child(2), .tabla-alertas td:nth-child(2) { width: 5%; }  /* NRO PREGUNTA */
::ng-deep .tabla-alertas th:nth-child(3), .tabla-alertas td:nth-child(3) { width: 30%; }  /* PREGUNTA */
::ng-deep .tabla-alertas th:nth-child(4), .tabla-alertas td:nth-child(4) { width: 15%; }  /* RESPUESTA */
::ng-deep .tabla-alertas th:nth-child(5), .tabla-alertas td:nth-child(5) { width: 20%; }  /* OBSERVACIONES */
::ng-deep .tabla-alertas th:nth-child(6), .tabla-alertas td:nth-child(6) { width: 20%; }  /* JUSTIFICACION */
::ng-deep .tabla-alertas th:nth-child(7), .tabla-alertas td:nth-child(7) { width: 7%; }  /* ESTADO */
::ng-deep .tabla-alertas th:nth-child(8), .tabla-alertas td:nth-child(8) { width: 5%; }   /* OPCIONES */

.tabla-alertas {
  table-layout: fixed;
  width: 100%;
}

.tabla-alertas th, .tabla-alertas td {
  min-width: 15px !important;
  max-width: 250px !important;
}

.pregunta-texto {
  white-space: normal;
  word-wrap: break-word;
  max-width: 250px;
  font-size: 12px;
}
.contenedor-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedor-header marquee{
  width: 500px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}
.contenedor-header img{
  width: 35px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
