<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Inicio / </span> Validar Cuestionarios
</h4>
<div class="row">
  <div class="card">
    <div class="card-header" style="background-color: #d7e4cc; margin: 0 -12px;
    padding: 10px;">
      <div class="contenedor-header">
        <div>
          <marquee>
            <h3 style="color:#47874a; font-weight: bold;">Cuestionarios asignados</h3>
          </marquee>
        </div>
        <div>
          <div class="logos-header"> <img src="assets/images/LOGO PODA 1 PNG.png" alt="" width="30"></div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-hover" style="width: 100%;"
          *ngIf="listaSearch.length  > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>Departamento</th>
              <th>Municipio</th>
              <th>Área Agropecuaria</th>
              <th>Área Enumerada</th>
              <th>Código Cuest.</th>
              <th>Tipo Cuest.</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of listaSearch" [ngClass]="getRowClass(a)">
              <td>{{a.nro}}</td>
              <td>{{a.depto}}</td>
              <td>{{a.mpio}}</td>
              <td>{{a.ag_unico}}</td>
              <td>{{a.ae_unico}}</td>
              <td>{{a.cuestionario}}</td>
              <td>{{a.cue_titulo}}</td>
              <td>{{a.estado}}
                <!-- <span class="badge bg-label-primary" style="width: 100%;" *ngIf="a.estado_id == '8'">{{a.estado}}</span>
                <span class="badge bg-label-danger" style="width: 100%;" *ngIf="a.estado_id == '4'">{{a.estado}}</span>
                <span class="badge bg-label-info" style="width: 100%;" *ngIf="a.estado_id == '3'">{{a.estado}}</span>
                <span class="badge bg-label-info" style="width: 100%;" *ngIf="a.estado_id == '5'">{{a.estado}}</span>
                <span class="badge bg-label-secondary" *ngIf="a.estado_id == null">SIN PROCESAR</span> -->
              </td>
              <td>
                <button class="btn btn-icon btn-label-warning" (click)="verCuest(a)" pTooltip="Ver Cuestionario"
                  tooltipPosition="top">
                  <i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-icon btn-label-success" (click)="almacenarValidacion(a.rep_id, 'validar')"
                  pTooltip="Aprobar Cuestionario" tooltipPosition="top">
                  <i class="fa fa-check-square"></i>
                </button>
                <button class="btn btn-icon btn-label-google-plus" (click)="observarCuest(a.rep_id)"
                  pTooltip="Observar Cuestionario" tooltipPosition="top">
                  <i class="fa fa-exclamation-triangle"></i>
                </button>
                <button class="btn btn-label-facebook" (click)="observarCuest(a.rep_id)"
                  pTooltip="Enviar a jefatura para su revisión" tooltipPosition="top"
                  style="font-size: xx-small; width: 85px; height: 35px;;">Enviar a jefatura
                  <i class="fa fa-external-link" style="margin-left: 10px;"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Alertas de cuestionario" [(visible)]="alertasModal" [modal]="true" [maximizable]="true"
  style="width: 800px; table-layout: fixed;">
  <div class="card">
    <div class="card-header d-flex flex-wrap gap-3" style="background-color: #d7e4cc;">
      <div class="row">
        <label class="fw-normal">Departamento: <span class="fw-bold">{{ departamento }}</span></label>
        <label class="fw-normal">Municipio: <span class="fw-bold">{{ municipio }}</span></label>
      </div>
      <div class="row">
        <label class="fw-normal">Tipo de cuestionario: <span class="fw-bold">{{ tipoCues }}</span></label>
        <label class="fw-normal">Código de cuestionario: <span class="fw-bold">{{ codCues }}</span></label>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive" *ngIf="respuesta.length >0">
        <table datatable [dtOptions]="dtOptionsAlert"
          class="table table-striped table-border border-hover tabla-alertas" style="table-layout: auto; ">
          <thead>
            <tr>
              <th>NRO</th>
              <th>NRO PREGUNTA</th>
              <th>PREGUNTA</th>
              <th>RESPUESTA</th>
              <th>OBSERVACIONES</th>
              <th>JUSTIFICACION</th>
              <th>ESTADO</th>
              <th>OPCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of respuesta; let i = index" [ngClass]="getRowClass(a)">
              <td>{{i+1}}</td>
              <td>{{a.pre_numero_pregunta}}</td>
              <td>
                <div class="pregunta-texto">{{a.pre_pregunta}} </div>
              </td>
              <td></td>
              <td class="pregunta-texto">{{a.obs_observacion}}</td>
              <td></td>
              <td>
                <span class="badge bg-label-success" *ngIf="a.estado_id != 4">{{a.descripcion}}</span>
                <span class="badge bg-label-danger" *ngIf="a.estado_id == 4">
                  <i class="fa fa-thin fa-triangle-exclamation"></i>
                  {{a.estado}}
                </span>
              </td>
              <td>
                <button class="btn btn-icon btn-label-success" (click)="verCuest(a)" pTooltip="Aprobar"
                  tooltipPosition="top">
                  <i class="fa fa-check-square"></i>
                </button>
                <button class="btn btn-icon btn-label-success" (click)="almacenarValidacion(a.rep_id, 'validar')"
                  pTooltip="Justificar" tooltipPosition="top">
                  <i class="fa fa-thumb-tack"></i>
                </button>
                <button class="btn btn-icon btn-label-google-plus" (click)="observarCuest(a.rep_id)" pTooltip="Observar"
                  tooltipPosition="top">
                  <i class="fa fa-bug"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</p-dialog>


<p-dialog header="Aprobar Cuestionario" [(visible)]="visibleValidar" [modal]="true" [maximizable]="true"
  [style]="{'width': '700px'}">
  <hr>
  <div class="form-floating form-floating-outline mb-4">
    <textarea class="form-control h-px-100" name="textValidar" [(ngModel)]="textValidar" id="detalleVerificacion"
      placeholder="Comentar Aqui..."></textarea>
    <label for="detalleVerificacion">Detalle de Verificación</label>
  </div>
  <br>
  <hr>
  <br>
  <button class="btn btn-success" (click)="almacenarValidacion(a.rep_id,'validar')"><i
      class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;Validar</button>
</p-dialog>


<p-dialog header="Observar Cuestionario" [(visible)]="visibleObservar" [modal]="true" [maximizable]="true"
  [style]="{'width': '700px'}">
  <div class="card">
    <div class="card-header d-flex flex-wrap gap-3" style="background-color: #d7e4cc;">
      <label> <span class="fw-bold">Importante: Al observar el cuestionario, este quedará habilitado para la revisión
          del empadronador.</span></label>
      <label> <span class="fw-regular">Detalle claramente las observaciones de manera que el empadronador entienda las
          acciones que debe realizar.</span></label>
    </div>
    <div class="card-body">
      <div class="form-floating form-floating-outline mb-6">
        <textarea class="form-control h-px-100" name="observacionCuest" [(ngModel)]="textObservar" id="observacionCuest"
          placeholder="Comentar aqui ... "></textarea>
        <label for="observacionCuest">Introduzca las observaciones para el cuestionario</label>
      </div>
      <hr>
      <button class="btn btn-danger" [disabled]="!textObservar || textObservar.trim() === ''"
        (click)="almacenarValidacion(id,'observar')"><i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;
        Observar</button>
    </div>
  </div>
</p-dialog>

<!-- MODAL LOADING
<div class="contenedor-modal" *ngIf="modal_cargando ? true : false">
  <span class="cargando"></span>
  <span> Espere por favor </span><br />
  <span class="loader"></span>
</div> -->
