.contenedor-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedor-header marquee{
  width: 500px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}
.contenedor-header img{
  width: 35px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.row-danger{
  background-color: rgb(253, 182, 182,.1);
}
.custom-option.custom-option-label.checked{
  background-color: rgb(165 217 253 / 12%);
  color: #2ca1bb;
}

.custom-option.custom-option-label.checked .custom-option-header span, .custom-option.custom-option-label.checked .custom-option-title{
  color: #2ca1bb;
}
